@page
@using EShopOnAbp.Localization
@using Microsoft.Extensions.Localization
@using System.Globalization
@model EShopOnAbp.PublicWeb.Pages.MyOrdersModel

@inject IStringLocalizer<EShopOnAbpResource> L

@section scripts {
    <abp-script src="/client-proxies/basket-proxy.js"/>
    <abp-script src="/client-proxies/ordering-proxy.js"/>
    <abp-script src="/Pages/myOrders.js"/>
}

@section styles{
    <abp-style src="/Pages/myOrders.css"/>
}

@{
    string lastYearString = $"y{DateTime.Today.Year - 1}";
}

<div class="mb-5 mt-5 col">
    <abp-row>
        <abp-column size="_9"><span class="order-title"><strong>@Model.MyOrders.Count sipariş</strong> verildi.</span></abp-column>
        <abp-column size="_3">
            <select class="form-select" id="date-filter-selecter">
                        <option value="last30">@L["Last30Days"]</option>
                        <option value="m1">@L["LastMonth"]</option>
                        <option value="m3">@L["Last3Months"]</option>
                        <option value="@lastYearString">@L["LastYear"]</option>
                        <option value="y2020">2020</option>
                        <option value="y2019">2019</option>
                    </select>
        </abp-column>
    </abp-row>
</div>

@foreach (var order in Model.MyOrders)
{
    var orderTotalString = order.Items.Sum(q => q.UnitPrice).ToString("C", new CultureInfo("en-US"));
    string addressString = $"{order.Address.Street} {order.Address.ZipCode} \n {order.Address.City}/{order.Address.Country}";
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col">
                    <div class="o-header">Sipariş Tarihi</div>
                    <div class="o-description">@order.OrderDate.ToString("dd MMMM yyyy")</div>
                </div>
                <div class="col">
                    <div class="o-header">Toplam</div>
                    <div class="o-description">@orderTotalString</div>
                </div>
                <div class="col">
                    <div class="o-header">Teslimat Adresi</div>
                    <div>
                        <abp-button abp-tooltip-bottom="@addressString">@order.Address.Description</abp-button>
                    </div>
                </div>
                <div class="col">
                    <div>
                        <span class="o-header">Sipariş No</span> <span class="o-order-no">@order.OrderNo.ToString("N0", new NumberFormatInfo() {NumberGroupSeparator = " "})</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">
            @foreach (var item in order.Items)
            {
                <abp-card class="order-item m-3">
                    <abp-card-body>
                        <div class="row m-3">
                            <h3>@order.OrderStatus</h3>
                        </div>
                        <abp-row>
                            <abp-column size="_2">
                                <img class="img-size" src="/product-images/@item.PictureUrl"/>
                            </abp-column>
                            <abp-column size-lg="_4">
                                <div>@item.ProductName</div>
                                <div>Ürünü iade edebileceğiniz son tarih: @order.OrderDate.AddMonths(1).ToString("dd MMMM yyyy")</div>
                                <div class="mt-3">
                                    <abp-button icon="fas fa-cart-plus" class="btn btn-warning buy-again" text="Tekrar Satın Alın" data-product-id="@item.ProductId"></abp-button>
                                </div>
                            </abp-column>
                            <abp-column offset="_3" size="_2">
                                <abp-row class="pb-3">
                                    <abp-button class="btn btn-light shadow" disabled="true" abp-tooltip-right="Not available yet">Ürünleri iade et</abp-button>
                                </abp-row>
                                <abp-row>
                                    <abp-button class="btn btn-light shadow" disabled="true" abp-tooltip-right="Not available yet">Ürün yorumu yazın</abp-button>
                                </abp-row>
                            </abp-column>
                        </abp-row>
                    </abp-card-body>
                </abp-card>
            }
        </div>
    </div>
    <hr/>
}














@* @foreach (var item in Model.MyOrders) *@
@* { *@
@*     <abp-card> *@
@*         <abp-card-body> *@
@*             <h5>@item.OrderDate</h5> *@
@*             <p>@item.OrderStatus</p> *@
@*             <p>@item.Buyer.Name</p> *@
@*             <abp-row> *@
@*                 @foreach (var product in item.Items) *@
@*                 { *@
@*                     <abp-column> *@
@*                         <abp-card> *@
@*                             <abp-card-title> *@
@*                                 <img style="width: 200px" src="/product-images/@product.PictureUrl"/> *@
@*                             </abp-card-title> *@
@*                             <abp-card-body> *@
@*                                 <p>@product.ProductName x @product.Units</p> *@
@*                             </abp-card-body> *@
@*                         </abp-card> *@
@*                     </abp-column> *@
@*                 } *@
@*             </abp-row> *@
@*         </abp-card-body> *@
@*     </abp-card> *@
@*     <hr/> *@
@* } *@